COMPUTER_NAME=pc
GOOGLE_SPREADSHEET_ID=1kkjU5_ApVf8Cun632y79HPkCb1-jtjuduoe9mFxvxDU
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
TARGET_ROW_LABEL=惠閔
LOG_ROOT=/Users/apple/Desktop/obsidian/AI-france/30_Logs/b2b-template/W2B Temporary
SHEET_SEARCH_RANGE=A1:ZZ200
ALLOW_OVERWRITE=false
HOURS_WRITE_MODE=text
